<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <!-- <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="contact.name"/> -->
            <!-- <div class="contact-name mt-8">{{firstname}} {{lastname}}</div> -->
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

            <!-- Personal Information -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Title, Firstname, Lastname, Birthday, Nationality
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <!-- <mat-form-field fxFlex="10">
                            <mat-label>Title</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let choice of choices" [value]="choice.value"
                                    formControlName="title">
                                    {{choice.viewValue}}
                                    MR
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field>
                            <mat-label>Favorite food</mat-label>
                            <mat-select formControlName="title">
                                <mat-option *ngFor="let title of titles" [value]="title.value">
                                    {{title.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="leftspace" fxFlex="20">
                            <mat-label>Firstname</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="firstname" formControlName="firstname" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace" fxFlex="20">
                            <mat-label>Lastname</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="lastname" formControlName="lastname" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace" fxFlex="20">
                            <mat-label>Birthday</mat-label>
                            <input matInput [matDatepicker]="birthdayDatePicker" name="dob" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #birthdayDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="leftspace" fxFlex="20">
                            <mat-label>Nationality</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="nationality" formControlName="nationality" matInput>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="space"></div>

            <!-- Contact Information -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Contact Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Mobile, Email, SMS_SR, SMS_NL
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formGroupName="contact">
                        <mat-form-field>
                            <mat-label>Mobile No.</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="mobilenumber" formControlName="mobilenumber" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace">
                            <mat-label>Email.</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="email" formControlName="email" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace">
                            <mat-label>SMS Suriname.</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="sms_sr" formControlName="sms_sr" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace">
                            <mat-label>SMS Netherlands.</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="sms_nl" formControlName="sms_nl" matInput>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="space"></div>

            <!-- Address Information -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Address Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Country, Street, City, Zip
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formGroupName="address">
                        <mat-form-field>
                            <mat-label>County</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="country" formControlName="country" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace">
                            <mat-label>Street</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="street" formControlName="street" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace">
                            <mat-label>City</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="city" formControlName="city" matInput>
                        </mat-form-field>
                        <mat-form-field class="leftspace">
                            <mat-label>ZIP.</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="zip" formControlName="zip" matInput>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="space"></div>

            <!-- Passport Information -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Passport Information
                        </mat-panel-title>
                        <mat-panel-description>
                            Passport No, Expiration Date
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formGroupName="passport">
                        <mat-form-field>
                            <mat-label>Passport No</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="passportno" formControlName="passportno" matInput>
                        </mat-form-field>
                        <div></div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" name="expirationdate"
                                formControlName="expirationdate" placeholder="Expiration Date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="space"></div>

            <!-- Booking Information -->
            <!-- <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Bookings
                        </mat-panel-title>
                        <mat-panel-description>
                            All booking information
                        </mat-panel-description>
                    </mat-expansion-panel-header> -->
            <!-- start -->
            <!-- <div formArrayName="bookings">

                        <div *ngFor="let booking of contactForm.get('bookings').controls; let ix=index">

                           
                            <mat-form-field>
                                <input matInput [matDatepicker]="pickers" name="expirationdate" formControlName="date"
                                   placeholder="date">
                                <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                                <mat-datepicker #pickers></mat-datepicker>
                            </mat-form-field>
                            <div></div>

                         
                            <mat-form-field>
                                <input matInput placeholder="Description" class="example-right-align">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>

                           
                            <div formGroupName="price">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Booking Ammount Information
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                currency, ticket, insurance, visa, other, discount
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-form-field>
                                            <mat-label>Currency</mat-label>
                                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                            <input name="currency" formControlName="currency" matInput>
                                        </mat-form-field>
                                        <div></div>
                                        <mat-form-field>
                                            <input matInput placeholder="Ticket" type="number"
                                                class="example-right-align">
                                            <span matPrefix>$&nbsp;</span>
                                            <span matSuffix>.00</span>
                                        </mat-form-field>
                                        <div></div>
                                        <mat-form-field>
                                            <input matInput placeholder="Insurance" type="number"
                                                class="example-right-align">
                                            <span matPrefix>$&nbsp;</span>
                                            <span matSuffix>.00</span>
                                        </mat-form-field>
                                        <div></div>
                                        <mat-form-field>
                                            <input matInput placeholder="Visa" type="number"
                                                class="example-right-align">
                                            <span matPrefix>$&nbsp;</span>
                                            <span matSuffix>.00</span>
                                        </mat-form-field>
                                        <div></div>
                                        <mat-form-field>
                                            <input matInput placeholder="Other" type="number"
                                                class="example-right-align">
                                            <span matPrefix>$&nbsp;</span>
                                            <span matSuffix>.00</span>
                                        </mat-form-field>
                                        <div></div>
                                        <mat-form-field>
                                            <input matInput placeholder="Amount" type="number"
                                                class="example-right-align">
                                            <span matPrefix>$&nbsp;</span>
                                            <span matSuffix>.00</span>
                                        </mat-form-field>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                           
                            <div formArrayName="passengers">
                                <div *ngFor="let passenger of passengers; let pix=index">
                                    <div formGroupName="pix">
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Passengers
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        firstname, lastname, dateofbirth , passport number
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>

                                                <mat-form-field>
                                                    <mat-label>Passport No</mat-label>
                                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                    <input name="firstname" formControlName="firstname" matInput>
                                                </mat-form-field>

                                                <mat-form-field>
                                                    <mat-label>Passport No</mat-label>
                                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                    <input name="lastname" formControlName="lastname" matInput>
                                                </mat-form-field>


                                                <mat-form-field>
                                                    <mat-label>Birthday</mat-label>
                                                    <input matInput [matDatepicker]="birthdayDatePicker" name="pdob"
                                                        formControlName="pdob">
                                                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #birthdayDatePickerpassenger></mat-datepicker>
                                                </mat-form-field>


                                                <mat-form-field>
                                                    <mat-label>Passport No</mat-label>
                                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                    <input name="ppassportnumber" formControlName="ppassportnumber"
                                                        matInput>
                                                </mat-form-field>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>

                           

                            <div formArrayName="payments">
                                <div *ngFor="let passenger of payments; let pix=index">
                                    <div formGroupName="payments">
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Payment Information
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        Date, Amount, Type
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>

                                                <mat-form-field>
                                                    <mat-label>Invoice no</mat-label>
                                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                    <input name="invoiceno" formControlName="invoiceno" matInput>
                                                </mat-form-field>

                                                <mat-form-field>
                                                    <mat-label>Amount</mat-label>
                                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                    <input name="amount" formControlName="amount" matInput>
                                                </mat-form-field>


                                                <mat-form-field>
                                                    <mat-label>Payment Date</mat-label>
                                                    <input matInput [matDatepicker]="birthdayDatePicker"
                                                        name="dateofpayment" formControlName="dateofpayment">
                                                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #birthdayDatePickerpassenger></mat-datepicker>
                                                </mat-form-field>

                                                <mat-form-field>
                                                    <mat-label>Type</mat-label>
                                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                    <input name="type" formControlName="type" matInput>
                                                </mat-form-field>


                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div> -->
            <!-- end -->
            <!-- </mat-expansion-panel>
            </mat-accordion>-->


            <button mat-button>Save</button>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'" mat-button class="mr-8" (click)="matDialogRef.close(['delete',contactForm])"
            aria-label="Delete" matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'" mat-button class="save-button" (click)="matDialogRef.close(contactForm)"
            [disabled]="contactForm.invalid" aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'" mat-button class="save-button"
            (click)="matDialogRef.close(['save',contactForm])" [disabled]="contactForm.invalid" aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>